﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
   
    @Styles.Render(BundleStyleNames.BaseCss)
</head>
<body>
    @Html.Action("Menu")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="fixed-bottom">
            @Html.Action("Footer")
        </footer>
    </div>

    @Scripts.Render(BundleScriptNames.BaseLibrary)
    @Scripts.Render(BundleScriptNames.Knockout)
    @RenderSection("scripts", required: false)

    @Html.Partial("_Popup")
</body>
</html>
