﻿@using Askus.Store.Models.Page
@model MenuModel


@helper MenuItem(MenuItemModel item)
{
        if (item.ChildItems?.Any() ?? false)
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action(item.ActionName, item.ControllerName, item.Params)">
                    @item.Title
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var subItem in item.ChildItems)
                    {
                        //@MenuItem(subItem)
                        <li class="@(subItem.IsSelected ? "active" : string.Empty)">
                            <a href="@Url.Action(subItem.ActionName, subItem.ControllerName, subItem.Params)">@subItem.Title</a>
                        </li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li class="@(item.IsSelected ? "active" : string.Empty)">
                <a href="@Url.Action(item.ActionName, item.ControllerName, item.Params)">@item.Title</a>
            </li>
        }
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var item in Model.Items)
                {
                    @MenuItem(item)
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">

                @if (Model.IsAutorized)
                {
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Model.UserName</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                }
                else
                {
                    <li><a href="#" data-toggle="modal" data-target="#modal_auth"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
            </ul>
        </div>
    </div>
</div>

@if (!Model.IsAutorized)
{
    @Html.Partial("~/Views/Auth/_Login.cshtml")
}