﻿
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label">Заголовок:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" placeholder="Введите наименование" data-bind="value: CurrentItem.Title">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label">Аннотация:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" data-bind="value: CurrentItem.Annotation">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label" for="titleTxb">Алиас:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" data-bind="value: CurrentItem.Alias">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label" for="titleTxb">Контент:</label>
        </div>
        <div class="col-lg-8">
            <textarea type="text" class="form-control" data-bind="value: CurrentItem.Content"></textarea>
        </div>
    </div>
    <div class="row" data-bind="visible: $root.ShowEditorLink">
        <div class="col-lg-12">
            <label class="control-label" for="titleTxb"></label>
            <a data-bind="attr: {href: $root.EditorUrl() } ">Перейти на полную версию редактора</a>
        </div>
    </div>
</div>

