﻿

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Аннотация</th>
            <th>Ссылка</th>
            <th>Алиас</th>
            <th>Дата создания</th>
            <th>Дата обновления</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Items">
        <tr>
            <td data-bind="text: Title"></td>
            <td data-bind="text: Annotation"></td>
            <td data-bind="text: Alias"></td>
            <td data-bind="text: Alias"></td>
            <td data-bind="text: Utils.FormatDate(CreatedDate())"></td>
            <td data-bind="text: Utils.FormatDate(LastUpdatedDateTime())"></td>
            <td>
                <button type="button" class="btn btn-default btn-sm" data-bind="click: function(){$root.Edit($data)}">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-bind="click: function(){$root.Remove($data)}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" data-bind="with: Filter">

                <ul class="pagination" data-bind="foreach: AvailablePages, visible: AvailablePages().length > 1">
                    <li><a href="#" data-bind="text: ($data + 1), click: $parent.SetPage($data)"></a></li>
                </ul>

            </td>
        </tr>
    </tfoot>
</table>