﻿@using Askus.Store.Infrastructure.Domain.Publication
@model Article

@{
    ViewBag.Title = "Редактор статьи";
}

@section scripts
{
    @Scripts.Render(BundleScriptNames.ArticlePage)

    <script>
        var _app = new Askus.ArticlePage.EditorApp({

            AppSelector: "articleApp",

            GetUrl: '@Url.Action("GetList")',
            SaveUrl: '@Url.Action("Save")',

            Item: '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))',
    });
    </script>
}

<style>
    input {
        max-width: none !important;
    }
    textarea {
        max-width: none !important;
        min-height: 500px;
    }
</style>

<div id="articleApp">
    <h2>Редактор статьи сайта</h2>

    @Html.Partial("_Editor")

</div>
