﻿

@{
    ViewBag.Title = "Статьи сайта";
}

@section scripts
{
    @Scripts.Render(BundleScriptNames.ArticlePage)

<script>
        var _app = new Askus.ArticlePage.App({

            AppSelector: "articleApp",
            EditorSelector: "#editor",

            GetUrl: '@Url.Action("GetList")',
            SaveUrl: '@Url.Action("Save")',
            EditorUrl: '@Url.Action("Edit")',
            RemoveUrl: '@Url.Action("Remove")',
            PageCapacity: 5
    });
</script>
}
<div id="pageApp">
    <h2>Статьи сайта</h2>
    <p>Редактирование статей портала</p>

    <!-- filter -->
    <div class="row">
        <div class="col-lg-10">
            @Html.Partial("_Filter")
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-default" data-bind="click: Create">Создать</button>
        </div>
    </div>
    <hr />
    <!-- grid -->
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_Grid")
        </div>
    </div>

    <div id="editor" class="hidden">
        @Html.Partial("_Editor")
    </div>
</div>