﻿

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label" for="titleTxb">Наименование:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" id="titleTxb" placeholder="Введите наименование" data-bind="value: CurrentItem.Title">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label" for="email">Родитель:</label>
        </div>
        <div class="col-lg-8">
            @*<input type="text" class="form-control" placeholder="Выберите родителя" data-bind="value: ParentSectionId">*@
            <select class="form-control" data-bind="
                    value: CurrentItem.ParentSectionId,
                    options: Items,
                    optionsText: 'Title',
                    optionsValue: 'Id',
                    valueAllowUnset: true">
            </select>
        </div>
    </div>
</div>

