﻿<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Родитель</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Items">
        <tr>
            <td data-bind="text: Title">Наименование</td>
            <td data-bind="text: $root.GetItemTitle(ParentSectionId())">Родитель</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" data-bind="click: function(){$root.Edit($data)}">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-bind="click: function(){$root.Remove($data)}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" data-bind="with: Filter">

                <ul class="pagination" data-bind="foreach: AvailablePages, visible: AvailablePages().length > 1">
                    <li><a href="#" data-bind="text: ($data + 1), click: $parent.SetPage($data)"></a></li>
                </ul>

            </td>
        </tr>
    </tfoot>
</table>