﻿@{
    ViewBag.Title = "Разделы сайта";
}

@section scripts
{
    @Scripts.Render(BundleScriptNames.SectionPage)

<script>
        var _app = new Askus.SectionPage.App({

            AppSelector: "sectionApp",
            EditorSelector: "#editor",

            GetUrl: '@Url.Action("GetSectionList", "Section")',
            SaveUrl: '@Url.Action("SaveSection", "Section")',
            RemoveUrl: '@Url.Action("Remove", "Section")',
            PageCapacity: 5
    });
</script>
}
    <div id="sectionApp">
        <h2>Разделы</h2>
        <p>Редактирование разделов портала</p>

        <!-- filter -->
        <div class="row">
            <div class="col-lg-10">
                @Html.Partial("_Filter")
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-default" data-bind="click: Create">Создать</button>
            </div>
        </div>
        <hr />
        <!-- grid -->
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Grid")
            </div>
        </div>

        <div id="editor" class="hidden">
            @Html.Partial("_Editor")
        </div>
    </div>