﻿@using Askus.Store.Models.Page
@model MenuItemModel

<div>
    <h2>@Model.Title</h2>

    <div class="row">

        @foreach (var item in Model.ChildItems)
        {
        <div class="col-lg-12">

            <h4>
                @if (item.SectionId != null)
                {
                    <span class="glyphicon glyphicon-briefcase"></span>
                }
                else
                {
                     <span class="glyphicon glyphicon-align-justify"></span>
                }

                <a href="@Url.Action(item.ActionName, item.ControllerName, item.Params)">@item.Title</a>
            </h4> 
            <ul>
                @if (item.ChildItems != null)
                {
                     foreach (var subItem in item.ChildItems)
                     {
                         <li><a href="@Url.Action(subItem.ActionName, subItem.ControllerName, subItem.Params)">@subItem.Title</a></li>
                     }
                }
            </ul>
        </div>
        }

    </div>

</div>