﻿<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label">Наименование:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" placeholder="Введите наименование" data-bind="value: CurrentItem.Title">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label" for="email">Раздел:</label>
        </div>
        <div class="col-lg-8">
            @*<input type="text" class="form-control" placeholder="Выберите родителя" data-bind="value: ParentSectionId">*@
            <select class="form-control" data-bind="
                    value: CurrentItem.SectionId,
                    options: Sections,
                    optionsText: 'Title',
                    optionsValue: 'Id',
                    valueAllowUnset: true"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label">Controller:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" data-bind="value: CurrentItem.ControllerName">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label" for="titleTxb">Action:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" data-bind="value: CurrentItem.ActionName">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label" for="titleTxb">Key:</label>
        </div>
        <div class="col-lg-8">
            <input type="text" class="form-control" data-bind="value: CurrentItem.Key">
        </div>
    </div>
</div>

