﻿
@{
    ViewBag.Title = "Страницы сайта";
}

@section scripts
{
    @Scripts.Render(BundleScriptNames.PagesPage)

    <script>
        var _app = new Askus.PagesPage.App({

            AppSelector: "pageApp",
            EditorSelector: "#editor",

            GetUrl: '@Url.Action("GetList", "Page")',
            SaveUrl: '@Url.Action("Save", "Page")',
            SectionsUrl: '@Url.Action("GetSectionList", "Section")',
            SetPublicationUrl: '@Url.Action("SetPublication", "Page")',
            RemoveUrl: '@Url.Action("Remove", "Page")',
            PageCapacity: 5
    });
    </script>
}
<div id="pageApp">
    <h2>Страницы сайта</h2>
    <p>Редактирование страниц портала</p>

    <!-- filter -->
    <div class="row">
        <div class="col-lg-10">
            @Html.Partial("_Filter")
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-default" data-bind="click: Create">Создать</button>
        </div>
    </div>
    <hr />
    <!-- grid -->
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_Grid")
        </div>
    </div>

    <div id="editor" class="hidden">
        @Html.Partial("_Editor")
    </div>
</div>