﻿<div id="fh5co-container">
    <div id="fh5co-home" class="js-fullheight" data-section="home">

        <div class="flexslider">

            <div class="fh5co-overlay"></div>
            <div class="fh5co-text">
                <div class="container">
                    <div class="row">
                        <h1 class="to-animate">Четверть пинты</h1>
                        <h2 class="to-animate">Константина Заслонова д.25</h2>
                    </div>
                </div>
            </div>
            <ul class="slides">
                <li style="background-image: url(images/pinta_1.jpg);" data-stellar-background-ratio="0.5"></li>
                <li style="background-image: url(images/pinta_2.jpg);" data-stellar-background-ratio="0.5"></li>
                <li style="background-image: url(images/pinta_3.jpg);" data-stellar-background-ratio="0.5"></li>
            </ul>

        </div>
    </div>

    <div class="js-sticky">
        <div class="fh5co-main-nav">
            <div class="container-fluid">
                <div class="fh5co-menu-1">
                    <a href="#" data-nav-section="home">Главная</a>
                    <a href="#" data-nav-section="about">Наш бар</a>
                    <a href="#" data-nav-section="menu">Напитки</a>
                </div>
                <div class="fh5co-logo">
                    <a href="/">Пинта</a>
                </div>
                <div class="fh5co-menu-2">
                    <a href="#" data-nav-section="features">Закуски</a>
                    <a href="#" data-nav-section="events">События</a>
                    <a href="#" data-nav-section="reservation">О нас</a>
                </div>
            </div>

        </div>
    </div>

    <div id="fh5co-about" data-section="about">
        <div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url(images/pinta_4.jpg)"></div>
        <div class="fh5co-2col fh5co-text">
            <h2 class="heading to-animate">О нашем баре</h2>
            <p class="to-animate">
                <span class="firstcharacter">Д</span>алеко далеко в недрах нашей галлактике мы нашли секрет вечной молодости и хмельного веселья...
                *** Далее пара слов о там какой крутой у нас бар
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="text-center to-animate"><a href="#" class="btn btn-primary btn-outline">Присоеденяйся!</a></p>
        </div>
    </div>


    <div id="fh5co-menus" data-section="menu">
        <div class="container">
            <div class="row text-center fh5co-heading row-padded">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="heading to-animate">Напитки</h2>
                    <p class="sub-heading to-animate">Лучшие сорта пива только у нас!</p>
                </div>
            </div>
            <div class="row row-padded">
                <div class="col-md-6">
                    <div class="fh5co-food-menu to-animate-2">
                        <h2 class="fh5co-drinks">Пиво разливное</h2>
                        <ul>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_5.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 1</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    250/350
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_6.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 2</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    250/300
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_7.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 3</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    200/300
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_5.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 4</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    350/450
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-food-menu to-animate-2">
                        <h2 class="fh5co-dishes">Пиво бутылочное</h2>
                        <ul>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_5.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 1</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    250/350
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_6.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 2</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    250/300
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_7.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 3</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    200/300
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_5.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Пиво 4</h3>
                                        <p>Описание</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    350/450
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="fh5co-food-menu to-animate-2">
                        <h2 class="fh5co-drinks">Drinks</h2>
                        <ul>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_5.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Pineapple Juice</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $17.50
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_6.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Green Juice</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $7.99
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_7.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Soft Drinks</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $12.99
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_5.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Carlo Rosee Drinks</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $12.99
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-food-menu to-animate-2">
                        <h2 class="fh5co-dishes">Steak</h2>
                        <ul>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_3.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Beef Steak</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $17.50
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_4.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Tomato with Chicken</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $7.99
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_2.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Sausages from Italy</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $12.99
                                </div>
                            </li>
                            <li>
                                <div class="fh5co-food-desc">
                                    <figure>
                                        <img src="images/res_img_8.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                    </figure>
                                    <div>
                                        <h3>Beef Grilled</h3>
                                        <p>Far far away, behind the word mountains.</p>
                                    </div>
                                </div>
                                <div class="fh5co-food-pricing">
                                    $12.99
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center to-animate-2">
                    <p><a href="#" class="btn btn-primary btn-outline">Узнать больше</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-featured" data-section="features">
        <div class="container">
            <div class="row text-center fh5co-heading row-padded">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="heading to-animate">Авторская кухня</h2>
                    <p class="sub-heading to-animate">Самые подходящие к вашему отдыху закуски</p>
                </div>
            </div>
            <div class="row">
                <div class="fh5co-grid">
                    <div class="fh5co-v-half to-animate-2">
                        <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_1.jpg)"></div>
                        <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                            <h2>Fresh Mushrooms</h2>
                            <span class="pricing">$7.50</span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                    <div class="fh5co-v-half">
                        <div class="fh5co-h-row-2 to-animate-2">
                            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_2.jpg)"></div>
                            <div class="fh5co-v-col-2 fh5co-text arrow-left">
                                <h2>Grilled Chiken Salad</h2>
                                <span class="pricing">$12.00</span>
                                <p>Far far away, behind the word mountains.</p>
                            </div>
                        </div>
                        <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_8.jpg)"></div>
                            <div class="fh5co-v-col-2 fh5co-text arrow-right">
                                <h2>Cheese and Garlic Toast</h2>
                                <span class="pricing">$4.50</span>
                                <p>Far far away, behind the word mountains.</p>
                            </div>
                        </div>
                    </div>

                    <div class="fh5co-v-half">
                        <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_7.jpg)"></div>
                            <div class="fh5co-v-col-2 fh5co-text arrow-right">
                                <h2>Organic Egg</h2>
                                <span class="pricing">$4.99</span>
                                <p>Far far away, behind the word mountains.</p>
                            </div>
                        </div>
                        <div class="fh5co-h-row-2 to-animate-2">
                            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_6.jpg)"></div>
                            <div class="fh5co-v-col-2 fh5co-text arrow-left">
                                <h2>Salad with Crispy Chicken</h2>
                                <span class="pricing">$8.50</span>
                                <p>Far far away, behind the word mountains.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fh5co-v-half to-animate-2">
                        <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/res_img_3.jpg)"></div>
                        <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                            <h2>Tomato Soup with Chicken</h2>
                            <span class="pricing">$12.99</span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="fh5co-events" data-section="events" style="background-image: url(images/slide_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="fh5co-overlay"></div>
        <div class="container">
            <div class="row text-center fh5co-heading row-padded">
                <div class="col-md-8 col-md-offset-2 to-animate">
                    <h2 class="heading">Upcoming Events</h2>
                    <p class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="fh5co-event to-animate-2">
                        <h3>Kitchen Workshops</h3>
                        <span class="fh5co-event-meta">March 19th, 2016</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-event to-animate-2">
                        <h3>Music Concerts</h3>
                        <span class="fh5co-event-meta">March 19th, 2016</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-event to-animate-2">
                        <h3>Free to Eat Party</h3>
                        <span class="fh5co-event-meta">March 19th, 2016</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-contact" data-section="reservation">
        <div class="container">
            <div class="row text-center fh5co-heading row-padded">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="heading to-animate">Reserve a Table</h2>
                    <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 to-animate-2">
                    <h3>Contact Info</h3>
                    <ul class="fh5co-contact-info">
                        <li class="fh5co-contact-address ">
                            <i class="icon-home"></i>
                            5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
                        </li>
                        <li><i class="icon-phone"></i> (123) 465-6789</li>
                        <li><i class="icon-envelope"></i>info@freehtml5.co</li>
                        <li><i class="icon-globe"></i> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></li>
                    </ul>
                </div>
                <div class="col-md-6 to-animate-2">
                    <h3>Reservation Form</h3>
                    <div class="form-group ">
                        <label for="name" class="sr-only">Name</label>
                        <input id="name" class="form-control" placeholder="Name" type="text">
                    </div>
                    <div class="form-group ">
                        <label for="email" class="sr-only">Email</label>
                        <input id="email" class="form-control" placeholder="Email" type="email">
                    </div>
                    <div class="form-group">
                        <label for="occation" class="sr-only">Occation</label>
                        <select class="form-control" id="occation">
                            <option>Select an Occation</option>
                            <option>Wedding Ceremony</option>
                            <option>Birthday</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="date" class="sr-only">Date</label>
                        <input id="date" class="form-control" placeholder="Date &amp; Time" type="text">
                    </div>



                    <div class="form-group ">
                        <label for="message" class="sr-only">Message</label>
                        <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group ">
                        <input class="btn btn-primary" value="Send Message" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="fh5co-footer">
    <div class="container">
        <div class="row row-padded">
            <div class="col-md-12 text-center">
                <p class="to-animate">
                    &copy; 2016 Foodee Free HTML5 Template. <br> Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://pexels.com/" target="_blank">Pexels</a> <br> Tasty Icons Free <a href="http://handdrawngoods.com/store/tasty-icons-free-food-icons/" target="_blank">handdrawngoods</a>
                </p>
                <p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="fh5co-social">
                    <li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
                    <li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
                    <li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>