﻿<div id="modal_auth" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Войти</h4>
            </div>
            <div class="row hidden">
                <div class="col-lg-12">
                    <div class="alert alert-danger">
                        <strong>Ошибка!</strong><span id="auth_errortext"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-4">
                            <label class="control-label" for="titleTxb">Логин:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="auth_login">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="control-label">Пароль:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="auth_pass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#">Восстановить пароль</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="modal_auth_login" data-url="@Url.Action("Login", "Auth")" class="btn btn-default">Войти</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>

    </div>
</div>
